.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background: #f5f6f7;
  color: #222;
}

body, html {
  height: 100%; /* Set height of body and html to 100% */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  background-color: #f0f0f0; /* Background color for the entire page */
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff; 
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.Header {
  background: #fff;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #333;
}

.Header a {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}

.Article {
  margin: 1.5rem 0;
}

.Article h1,
.Post h1 {
  color: rgb(175, 0, 0);
}

.Post p {
  padding: 1rem 0;
}

.main-container {
  position: absolute;
  top: 50%; /* Move the container 50% down from the top */
  left: 50%; /* Move the container 50% from the left */
  transform: translate(-50%, -50%); /* Center align the container */
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
  max-width: 1280px;
  height: 100%;
  margin: 20px;
  overflow-y: scroll;
}

.form-container {
  margin: 10px;
  height: 500px;
  width: 500px;
}
.list-container {
  overflow-y: scroll;
}
.form-container,
.container {
  flex: 1; 
  padding: 20px;
  background-color: #f5f5f5; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2,
.container h2 {
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff; /* White background for list items */
  padding: 10px;
  margin-bottom: 10px; /* Margin between list items */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}


input[type="text"],
input[type="email"],
select {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  cursor: pointer;
}

button {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-top: 10px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Change to vertical layout on smaller screens */
    align-items: center; /* Vertically center the containers */
  }

  .form-container,
  .container {
    width: 90%; /* Adjust width for smaller screens */
  }
}
